{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">Цена: {{ product.price }}</p>
            <p class="card-text">Описание: {{ product.description }}</p>
            <p class="card-text">Категория: <a href="{% url 'catalog:category_products' category_id=product.category.id %}">{{ product.category.name }}</a></p>
            <img src="{{ product.preview|mymedia }}" alt="Изображение" class="card-img-right img-fluid" style="max-width: 200px;">

        </div>
    </div>
    <div class="add-product-button">
    <div class="dropdown">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" id="addDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Добавить
        </button>
        <div class="dropdown-menu" aria-labelledby="addDropdown">
            <a class="dropdown-item" href="{% url 'catalog:blogpost_create' %}">Отзыв</a>
            <a class="dropdown-item" href="{% url 'catalog:create_version' product_id=product.id %}">Версию</a>
        </div>
    </div>
</div>
</div>


{% endblock %}
